VPN_USER=user # the username used to connect to the vpn
VPN_PASS=password # the password of the user
#VPN_GROUP=group # optional: the group to connect with
#VPN_TOKEN=token # optional: the token used for MFA. Only totp with base32 token supported atm
VPN_SERVER=server # the anyconnect server to connect to