VPN_USER=ab123456 # Your rwth username
VPN_PASS=password # the vpn password. Set this here https://idm.rwth-aachen.de/selfservice/Accounts?3
VPN_GROUP=RWTH-VPN (Split Tunnel) # This will only send requests to rwth servers through the vpn RWTH-VPN (Full Tunnel) will proxy all requests
VPN_TOKEN=token # The token for MFA. Required for RWTH. Create a new one here https://idm.rwth-aachen.de/selfservice/MFATokenManager?4 select TOTP and click on Token secret
VPN_SERVER=vpn.rwth-aachen.de # the RWTH vpn server